.links {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  &:hover {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
  @media screen and (max-width: 700px) {
    display: none;
  }
}
.menu_btn {
  padding: 20px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 20px 50px 0px #c6b9e94d;
}
